.game-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: max-content;
    width: 100%;
    margin-top: 200px;

    button {
        padding: 15px 0;
        width: 560px;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 4em;

        &.disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }

        &:not(.disabled):hover {
            background-color: #444;
        }
    }
}