* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Jersey 10", Arial, Helvetica, sans-serif;
    font-size: large;
}

body {
    background-color: #dddbdb;
    color: #1b1b1b;
}


button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #444;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 300px;

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            margin-top: 10px;
        }

        .form-label {
            margin-bottom: 20px;
            color: #333;
            font-size: 4em;
            align-self: center;
        }

        .error-label {
            text-align: center;
            margin: 5px;
            color: red;
        }
    }

    .sign-up_redirect, .login_redirect {
        margin-top: 20px;
        color: #333;

        a {
            color: #333;
            font-weight: 600;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 5px;

    &:hover {
        background-color: #444;
        cursor: pointer;
    }
}

::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 5px;
}